# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

| Data Science Tools | 
| ------------------ |
| Jupyter Notebooks |
| Scikit-learn |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

2+5 

10-7 

2*5

12/3

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author 
adham